body {
    background-color: #f8f8f8;
    margin: 0 auto;
}

header {
    background-color: white;
    box-shadow: 2px 2px 4px lightgray;
    height: 80px;
    text-align: center;
    width: 100%;
}

header img {
    height: 50px;
    margin-top: 15px;
    padding-left: 40px;
}

header .login {
    float: right;
    font-size: 14px;
    margin-right: 20px;
    margin-top: 50px;
}

main {
    clear: left;
    width: 100%;
}

main .main-container {
    background-color: white;
    border: lightgray solid 2px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px lightgray;
    margin: 0 auto;
    margin-top: 40px;
    width: 600px;
}

main .form-contents {
    margin: 30px 25px;
}

main .confirm {
    text-align: center;
}

main h2 {
    border-bottom: solid 1px #31A263;
    font-size: 20px;
    text-align: center;
}

main .return_button {
    background-color: #bfbfbf;
    border: 1px solid lightgray;
    border-bottom: solid 2px gray;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
    padding: 6px 20px 4px 20px;
    width: 150px;
}

main .submit_button {
    background-color: #31A263;
    border: 1px solid lightgray;
    border-bottom: solid 2px gray;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
    padding: 6px 20px 4px 20px;
    width: 150px;
}

main .buttons {
    text-align: center;
}

main form {
    display: inline-block;
    margin-right: 10px;
}

footer {
    background-color: white;
    border-top: lightgray solid 2px;
    bottom: 0px;
    color: gray;
    font-size: 13px;
    height: 40px;
    left: 0px;
    line-height: 40px;
    position: fixed;
    text-align: center;
    width: 100%;
}